
@import "./styles/base.css";
@import "./styles/layout.module.css";
@import "./styles/messages.module.css";
@import "./styles/animations.module.css";
@import "./styles/recipients.module.css";
@import "./styles/buttons.module.css";
@import "./styles/premium.module.css";
@import "./styles/navigation.module.css";
@import "./styles/theme.module.css";
@import "./styles/forms.module.css";

/* Root container (do not enforce theme colors here; Tailwind tokens handle light/dark) */
#root {
  margin: 0 auto;
  text-align: center;
}


